<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleXML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1973AFFF1F05DB3500F7EEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1973B0131F05DB3500F7EEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1973B01E1F05DB3500F7EEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
